@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}





@plugin "daisyui/theme" {
  name: "maintree";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(92% 0.006 264.531);
  --color-base-content: oklch(21% 0.034 264.665);
  --color-primary: oklch(48% 0.243 264.376);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(74% 0.16 232.661);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}



@plugin "daisyui/theme" {
  name: "daisymax";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(27% 0.041 260.031);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(70% 0.165 254.624);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 2rem;
  --radius-field: 0rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}








@layer utilities {
  /* Estado inicial: invisible y desplazado hacia abajo */
  .reveal-hidden {
    opacity: 0;
    transform: translateY(30px);
    transition:
      all 0.8s cubic-bezier(0.5, 0, 0, 1);
  }
  /* Estado final: visible y en su sitio */
  .animate-enter {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estado inicial: invisible y desplazado hacia abajo */
:global(.reveal-hidden) {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);
}
/* Estado final: visible y en su sitio */
:global(.animate-enter) {
  opacity: 1;
  transform: translateY(0);
}
